@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-purple: 259, 100%, 65%;
    --color-light-red: 0, 100%, 67%;
    --color-white: 0, 0%, 100%;
    --color-off-white: 0, 0%, 94%;
    --color-light-grey: 0, 0%, 86%;
    --color-smokey-grey: 0, 1%, 44%;
    --color-off-black: 0, 0%, 8%;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBold.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf');
  font-weight: 900;
  font-style: italic;
}
